body {
      background-color: #0e141b;
      color: #ffffff;
      margin: 0;
      padding: 0;
      height: 100%;
}

.header {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
}

.header_logo {
      border-radius: 50%;
      vertical-align: middle;
}

.header_name {
      vertical-align: middle;
      font-size: 48px;
}

a {
      text-decoration: inherit;
      color: inherit;
}


/* NAVBAR */
nav {
      background-color: #0e141b;

    }
    
    nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    
    nav ul li {
      display: inline-block;
    }
    
    nav ul li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    nav ul li a:hover {
      background-color: #555;
    }
