body {
      background-color: #0e141b;
      color: #ffffff;
}

.header {
      padding: 3.125rem 0;
      flex: none;
}

.header_logo {
      border-radius: 50%;
      vertical-align: middle;
}

.header_name {
      display: inline-block;
      vertical-align: middle;
      font-size: 48px;
}

a {
      text-decoration: inherit;
      color: inherit;
}
