html {
      background-color: #2e3138;
}

.title {
      color: #ff5277;
}

.header_logo {
      border-radius: 50%;
      vertical-align: middle;
}

.header_name {
      display: inline-block;
      vertical-align: middle;
      font-size: 80px;
}