$color--bg: #0e141b;
$color--txt: #ffffff;


body {
      color: $color--bg;
}

.header {
      color: $color--txt;
      padding: 3.125rem 0;
      flex: none;
}

.header_logo {
      border-radius: 50%;
      vertical-align: middle;
}

.header_name {
      display: inline-block;
      vertical-align: middle;
      font-size: 48px;
}

a {
      text-decoration: inherit;
      color: inherit;
}